<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>APP_ENV</key>
	<string>$(APP_ENV)</string>
	<key>NSCameraUsageDescription</key>
	<string>Dobbi necesita la cámara para escanear el código de barras de tu recibo y completar el número de servicio.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Dobbi necesita acceder a tu red local para conectarse al servidor de desarrollo en tu Mac.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLACES_API_KEY</key>
	<string>$(PLACES_API_KEY)</string>
	<key>DIRECTIONS_API_KEY</key>
	<string>$(DIRECTIONS_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>$(LAUNCH_BACKGROUND_NAME)</string>
	</dict>
</dict>
</plist>
